
  <h2>
    <%= @article.title %>
  </h2>

  <p>
    <%= @article.text %>
  </p>
  <% if current_user.admin? %>
  <paper-button class="hover">
      <core-icon icon="spellcheck"></core-icon>
      <%= link_to 'EDIT', edit_article_path(@article) %>
  </paper-button>

    <paper-button class="hover">
      <core-icon icon="clear"></core-icon>
      <%= link_to 'Delete', article_path(@article), :class=>"delete", method: :delete, data: { confirm: 'You are about to delete this post. Are you sure?'} %>
    </paper-button>
  <% end %>
