/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'forem/base';


$charcoal: #333;
$grey: #eee;
$mocha: #211d1e;
$gold: #DABA55;
$light-gold: #EAD9A1;
$teal: #80cbc4;

papertab a {
  text-decoration: none;
  color: $gold;
}



//////////////////////////





paper-tabs, core-toolbar {
  background-color: $mocha;
  color: #fff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

core-toolbar paper-tabs {
  box-shadow: none;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: $gold;
}

paper-tabs.transparent-teal {
  background-color: transparent;
  color: $mocha;
  box-shadow: none;
}

paper-tabs.transparent-teal::shadow #selectionBar {
  background-color: $mocha;
}

paper-tabs.transparent-teal paper-tab::shadow #ink {
  color: $mocha;
}

.p-tabs {
  text-decoration: none;
  color: $gold;
}


// header//



.avatar {
  border-radius: 50%;
}

//////////////////////////
paper-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

html /deep/ core-collapse {
  border: 1px solid #ccc;
  padding: 8px;
}

.constrained-height {
  height: 150px;
}

.colored {
  color: $gold;
}

.dropdown.colored::shadow #ripple,
.dropdown.colored::shadow #background {
  border: 1px solid $gold;
  background-color: #b7e1cd;
}

////////////////////////////////////////

.delete {
  color: $charcoal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


paper-fab {
  color: #fff;
  position: fixed;
  top: 90%;
  left: 92%;
  background: $teal;
}






paper-button.colored {
  color: $light-gold;
}

paper-button[raised].colored {
  background: $light-gold;
  color: #fff;
}

paper-button.input_field > core-icon {
  margin-right: 4px;
}

paper-button.hover:hover {
  background: $grey;
}

paper-button.blue-ripple::shadow #ripple {
  color: $light-gold;
}

/////////////////////////








//BUtton
.ripple {
  background: rgba(0,0,0,0.5);
}
